@import "variables";

.form-container{
    display: flex;
    justify-content: center;
    color: $background-color;
    background-color: $primary-color;
    .tags{
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .main__contents{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        justify-items: center;
        .title{
            &>input{
                width: 600px;
            }
        }
        .content{
            &>textarea{
                width: 600px;
                height: 300px;
            }
        }
        .submit{
            &>input{
            }
        }
    }

    

    
}