header
    .container
        .header__column
            h1
                a(href=routes.home) SILS
        .header__column
            h1.menu
                if user
                    a(href=routes.user) 프로필 보기
                else
                    a(href="/login") 시작하기
