doctype html
html
    head
        <script src="https://kit.fontawesome.com/4035865802.js" crossorigin="anonymous"></script>
        title | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ./header
        include ./body
        include ./footer
        script(src="/static/main.js")
        //script(src="https://kit.fontawesome.com/4035865802.js" crossorigin="anonymous")
