extends layout/main

block content
    .intro
        .container
            .introduction
                h1 멘토링 플랫폼
                h1 `SILS`
                p 프로그래밍을 배우고 싶은데 어디서부터, 무엇을 할지 모른다면,
                p 프로그래밍을 하고 있는데, 이 방향이 맞는지 의심이 간다면,
                p.suggestion 지금 멘토링을 통해 한 발짝 더 나아가보세요.
            .question.first
                h1 Question 1) `SILS`는 무슨 의미인가요?
                p `SILS`는 'save idiot like someone'의 약자로 프로그래밍을 공부하는데 무엇을 해야할지 몰라
                p 방황하고 있는 사람을 위한 멘토링 서비스입니다.
            .question.second
                h1 Question 2) 어떻게 참여하나요?
                p 이 멘토링 플랫폼은 배우고 싶은 주제와 알려주고 싶은 주제가 있다면 누구나 참여할 수 있습니다.
                p 배우고 싶은 분야에 대해 멘토링을 요청하거나, 알려주고 싶은 분야에 대해 지식을 전달할 수 있습니다.
                p 지금 바로 '시작하기'를 눌러보세요.
            .question.third
                h1 Question 3) 멘토링이요? 멘토링에서 멘토는 무엇을 하나요?
                p 멘토는 멘토링 주제와 관련된 지식과 경험을 바탕으로 양질의 정보를 멘티에게 제공합니다.
                p 멘토는 지식을 전달하는 과정에서 자신의 정보를 정제할 수 밖에 없습니다.
                p 이 과정에서 멘토는 자신의 앎에 대해 다시 돌아봄으로써 한 단계 성장할 수 있는 계기가 됩니다.
            .question.fourth
                h1 Question 4) 그렇다면, 멘토링에서 멘티는 무엇을 하나요?
                p 멘티는 새로운 분야를 경험하면서 어려운 부분이 고민을 멘토링을 통해 능동적으로 해결해나갑니다.
                p 공부하면서 궁금한 것은 있는데, 어디에다가 물어보지?라고 생각했던 질문을 이 멘토링 과정에서 해결할 수 있습니다.
            .question.five
                h1 Question 5) 왜 멘토링 서비스를 기획했나요?
                p
                    | 무엇이든 처음 시작할 때 막막한 느낌이 듭니다. 그 이유는 어디서부터 시작하는지, 올바른 방향으로 나아가고 있는지 알지 못하기 때문입니다.
                    | 개발을 배우고 싶은 사람으로서 이 막막한 느낌 때문에 프로그래밍 공부를 제대로 시작하지 못했던 경험이 있습니다.
                    | 이 멘토링 플랫폼을 통해 필자처럼 어려움을 느끼는 사람에게 쉽게 시작할 수 있도록 가이드라인을 제공하고 싶었습니다.
                p
                    | 개발을 하고 있는 사람으로서 회사 업무에서 또는 다른 프로젝트에서 많은 지식을 배우고 경험을 하고 있습니다.
                    | 그러나 되돌아 보거나 정리하는 과정 없이 개발을 진행하다 보면 이 지식과 경험이 온전히 나의 것이라는 생각하기 어렵습니다.
                    | 자신의 지식과 경험을 되돌아보고, 자신의 사고로 온전히 이해함으로써 배웠던 지식과 경험을 온전히 이해하는 과정이 필요하다고 느꼈습니다.
                    | 이 멘토링 플랫폼을 통해 자신의 앎을 되돌아 보는 과정을 제공하고 싶었습니다.