extends layouts/main

block content
    .template
        .template__left
            .template__left-title
                h2 save-idiot
            .template__left-content
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis magnam iste doloremque aspernatur maxime omnis laboriosam repellat sequi veniam harum. Dolore quia itaque iure eveniet sed voluptates iste praesentium a.
        .template__right