extends layout/main

block content
    .login
        .container
            .description
                h4 누구에게도 말하지 못했던 답답했던 마음을
                h4.bottom 풀어가는 즐거운 경험
            a.sns.kakao(href=routes.kakao)
                button Kakao로 시작하기
            a.sns.google(href=routes.google)
                button
                    span.blue G
                    span.red o
                    span.yellow o
                    span.blue g
                    span.green l
                    span.red e
                    span.others 로 시작하기   
            a.sns.github(href=routes.github)
                button Github으로 시작하기