doctype html
html
    head
        link(rel="stylesheet", href="/static/styles.css")
    body
        p Hello Javascript !!!
        p This is mentoringStatus page.
        script(src="/static/main.js")