header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fas.fa-pray     
        .header__column 
            ul
                li
                    a(href="#") 
                        i.fab.fa-github
                li
                    a(href="#")
                        i.fab.fa-google
