@import "../variables.scss";

.template{
    height: 90vh;
    
    border: 1px solid $primary-color;
    background-color: $background-color;
    .template__left{
        width: 50%;
        height: 100%;
        padding: 20px;
        float: left;
        box-sizing: border-box;
        .template__left-title{
            font-weight: 600;
            font-size: 30px;
            margin-bottom: 15px;
        }
    }
    .template__right{
        width: 50%;
        height: 100%;
        padding: 20px;
        float: right;
        box-sizing: border-box;
        background-image: url(https://cdn.pixabay.com/photo/2015/12/03/02/21/child-1073638_1280.jpg);
        background-size: cover;
        background-position: center;
    }
}


